<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <%= image_tag "http://media.wbur.org/wp/2020/12/GettyImages-1150049038-1000x630.jpg"%>
  <div class="text-center text-white">
    <h1>Save any kind of movies</h1>
  </div>
</div>
